<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>LDJam 46 Compo Entry - That Guy...</title>
    <style>
      body { background-color: #1b1e29; }
      .audiobtn { float: left; }
      .emscripten { padding-right: 0; margin-left: auto; margin-right: auto; display: block; }
      /* the canvas *must not* have any border or padding, or mouse coords will be wrong */
      canvas.emscripten { border: 0px none; background-color: black; }
    </style>
  </head>
  <body>
    <div class="audiobtn">
      <input id=btn-audio onclick=toggleAudio() type=button value="Audio Off">
    </div>
    <div>
      <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" tabindex=-1></canvas>
    </div>
    <script>
      var Module = {
        canvas: (function() {
          var canvas = document.getElementById('canvas');
          canvas.addEventListener("webglcontextlost", function(e) {
              alert('WebGL context lost. You will need to reload the page.'); e.preventDefault(); }, false);
          return canvas;
        })()
      };
      var audioBtn = document.querySelector('#btn-audio');
      // An array of all contexts to resume on the page
      const audioContexList = [];
      (function() {
        // A proxy object to intercept AudioContexts and add them to the array for tracking and resuming later
        self.AudioContext = new Proxy(self.AudioContext, {
          construct(target, args) {
            const result = new target(...args);
            audioContexList.push(result);
            if (result.state == "suspended") audioBtn.value = "Audio Off";
            return result;
          }
        });
      })();

      function toggleAudio() {
        var resumed = false;
        audioContexList.forEach(ctx => {
          if (ctx.state == "suspended") { ctx.resume(); resumed = true; }
          else if (ctx.state == "running") ctx.suspend();
        });
        if (resumed) audioBtn.value = "Audio On";
        else audioBtn.value = "Audio Off";
      }
    </script>
    {{{ SCRIPT }}}
  </body>
</html>
